*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-image: url(images/c413f20400e04805.webp);
    height: 967px;
    background-size: cover;
    background-position: center;
}
.nav{
    width:1378px;
    display:flex;
    height: 64px;
    padding: 0px 40px;
    align-items: center;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    align-items: center;
    margin: 0px 0px -3px -3px;
}
.hamburger{
    margin: 0px 0px 0px -14px;
}
.hamburger button{
    width: 48px;
    height: 48px;
    border: none;
    background: none;
    margin-top: 2px;
}
.hamburger button i{
    width: 20px;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500px;
    text-align: center;
    letter-spacing: normal;
    background-color: #FFFFFF;
    fill: #000000;
}
.logo{
    width: 89.33px;
    height: 16px;
}
.logo img{
    width: 89.33px;
    height: 16px;
    margin-left: 8px;
}
.nav-mid{
    width: 1418.13px;
    height: 64px;
}
.nav-right{
    width: 177.55px;
    height: 36px;
    display: flex;
}
.sign{
    width: 153.55px;
    height: 36px;
    margin: 0px 0px 0px 25px;
    display: flex;
    margin-left: 500px;
}
.login button{
    margin:0px 16px 0px 0px;
    padding: 12px;
    color: #000000;
    background-color: #FFFFFF;
    font-size: 14px;
    border-radius:25px;
    border: none;
    height: 36px;
    text-wrap: nowrap;
}
span .log{
    width: 63.86px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 0px 0px;
}
.signup button{
    width: 73.69px;
    height: 36px;
    color: #FFFFFF;
    font-size: 14px;
    background-color: #000000;
    padding:12px;
    border-radius: 25px;
    text-wrap: nowrap;
    border: none;
}
.head{
    width: 1378px;
    padding: 0px 40px;
    margin-top: -20px;
    font-family: sans-serif;
}
.head h1{
    width: 778.8px;
    height: 64px;
    color:#000000;
    font-size: 52px;
    margin: 340px 0px 40px;
}
.head .all{
    width:1298px;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.search{
    width:500px;
    height:56px;
    background: #FFFFFF;
    padding: 8px 16px;
    display: flex;
    align-items: center;
}
.map-marker{
    width: 24px;
    height: 24px;
}
.map-marker i{
    width: 24px;
    height: 24px;
}
input{
    width: 420px;
    height: 40px;
    background: #FFFFFF;
    border: none;
    padding: 20px;
    font-size: 16px;
}
.time{
    width: 191.23px;
    height: 56px;
    background-color: #FFFFFF;
}
.all .time .clock{
    width: 48px;
    height:48px;
}
.clock i{
    width: 24px;
    height: 24px;
}
.deliver{
    display: flex;
    width: 139.23px;
    height: 56px;
}
.deliver .txt{
    width: 87.23px;
    height: 20px;
    color: #000000;
    font-size: 16px;
}
.deliver .arrow{
    width:48px;
    height: 48px;
}
.deliver .arrow i{
    width: 24px;
    height: 24px;
}
.all .time .clock{
    display: flex;
    align-items: center;
}
.clock span{
    text-wrap: nowrap;
}
.head .all .searching button{
    background-color: black;
    color: white;
    width: 132.5px;
    height: 56px;
    font-size: 18px;
    padding: 12px 16px;
    text-wrap: nowrap;
    border-radius: 10px;
    border: none;
}
.set{
    width: 139.23px;
    height: 56px;
    display: flex;
    align-items: center;
    padding:12px 16px;
}
#question{
    width:87.23vh;
    height: 20px;
    border: none;
    background-color: white;
    font-size: 16px;
}
.link a{
    color: #000000;
}
.lists{
    display: flex;
    padding-left: 0px;
}
section{
    border-bottom:1px solid #F3F3F3;
}
.one{
    width: 611.66px;
    height: 400.91px;
}
.one img{
    width: 587.66px;
    height: 328.11px;
    margin-top: 80px;
}
.one h1{
    width: 587.66px;
    height: 36px;
    color:#000000;
    font-size: 28px;
    margin-top: 7px;
    margin-bottom: 6px;
}
.one a{
    width: 587.66px;
    height: 20px;
    color: #000000;
    font-size: 16px;
    margin: 8px 0px 0px;
}
.main{
    width: 1835px;
    height: 1544px;
    padding: 160px 40px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
}
section .heading span{
    width: 234.41px;
    height: 44px;
    color: #000000;
    font-size: 36px;
    font-weight: bolder;
    text-wrap: nowrap;
    margin-bottom: 22px;
}
section .heading .view a{
    color: black;
    font-weight: bold;
}
.heading2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
}
section .heading2 span{
    width: 234.41px;
    height: 44px;
    color: #000000;
    font-size: 36px;
    font-weight: bolder;
    text-wrap: nowrap;
}
section .heading2 .view a{
    color: black;
    font-weight: bold;
}
.map{
    width:1298px;
    height: 360px;
}
.name{
    width: 420.75px;
    height: 24px;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 445px;
}
.cities{
    width: 1755px;
    height: 264px;
    margin: 24px 0px 0px;
    display: flex;
    margin-top: 0px;
    margin-bottom: 24px;
}
.name a{
    text-decoration: none;
    color: black;
    text-wrap: nowrap;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: light;
}
footer{
    width: 1835px;
    height: 562px;
    background-color: #FFFFFF;
    margin: 0px 0px 0px;
    padding: 72px 0px 88px;
}
.foot{
    width: 1280px;
    height: 401px;
    margin: 0px 277.5px;
    padding: 0px 40px;
}
.foot1{
    width: 1200px;
    height: 264px;
    display: flex;
}
.A{
    width: 600px;
    height: 264px;
}
.A img{
    width: 134px;
    height: 24px;
    margin: 0px 0px 155px;
}
.A .download{
    width: 285.28px;
    height: 44px;
}
#appstore{
    width: 135px;
    height: 40px;
}
#playstore{
    width: 134.28px;
    height: 40px;
    margin-left: 11.5px;
}
.B{
    width: 300px;
    height: 264px;
}
.B ul{
    width: 300px;
    height: 224px;
}
.B ul li{
    width: 300px;
    height: 24px;
    font-size: 16px;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 16px;
    list-style: none;
}
.B ul li a{
    text-decoration: none;
    color: #000000;
}
.C{
    width: 300px;
    height: 264px;
}
.C ul li{
    list-style: none;
}
.C ul li a{
    text-decoration: none;
    color: #000000;
}
.C ul li{
    width: 300px;
    height: 24px;
    font-size: 16px;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 16px;
}
.C ul li .language a{
    width: 300px;
    height: 24px;
    font-size: 16px;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.C ul li .language a img{
    width: 16px;
    height: 16px;
}
hr{
    margin: 40px 0px;
    border: none;
    border-top: 1px solid #F3F3F3;
}
.foot2{
    width: 1200px;
    height: 36px;
    display: flex;
    justify-content: space-between;
}
.foot-left{
    width: 96px;
    height: 36px;
}
.foot-left-each{
    width: 96px;
    height: 36px;
    display: flex;
}
.foot-left-each a{
    width: 16px;
    height: 36px;
}
.foot-left-each a i{
    color: #000000;
    width: 16px;
    height: 16px;
}
.foot-left-each .space{
    width: 24px;
    height: 1px;
}
.foot-mid{
    width: 527.03;
    height: 36px;
}
.foot-right{
    width: 576.97px;
    height: 36px;
}
.foot-right-each{
    width: 576.97px;
    height: 36px;
    display: flex;
    text-wrap: nowrap;
}
.foot-right-each a{
    color: #000000;
    text-decoration: none;
}
.foot-right-each a #on{
    text-wrap: nowrap;
    color: #000000;
    text-decoration: none;
    width: 87.39px;
    height: 20px;
    font-size: 14px;
    margin: 0px 0px 16px;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.foot-right-each a #tw{
    text-wrap: nowrap;
    color: #000000;
    text-decoration: none;
    width: 40.2px;
    height: 20px;
    font-size: 14px;
    margin: 0px 0px 16px;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.foot-right-each a #th{
    text-wrap: nowrap;
    color: #000000;
    text-decoration: none;
    width: 45.28px;
    height: 20px;
    font-size: 14px;
    margin: 0px 0px 16px;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.foot-right-each a #fo{
    text-wrap: nowrap;
    color: #000000;
    text-decoration: none;
    width: 284.09px;
    height: 20px;
    font-size: 14px;
    margin: 0px 0px 16px;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.space2{
    width: 40px;
    height: 1px;
}
.foot3{
    width: 1200px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
.gap{
    width: 362.44px;
    height: 20px;
}
.foot3-mid{
    width: 837.56px;
    height: 20px;
    display: flex;
}
.foot3-mid-each{
    width: 602.73px;
    height: 20px;
    font-size: 14px;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    text-wrap: nowrap;
}
.foot3-mid-each h4{
    font-weight: lighter;
}
.foot3-mid-each a{
    color: #000000;
    text-decoration: none;
}
.foot3-gap{
    width: 40px;
    height: 1px;
}
.foot3-end-each{
    display: flex;
    text-wrap: nowrap;
    width: 194.83px;
    height: 20px;
    color: #000000;
    font-size: 14px;
}
.foot3-end-each h4{
    font-weight: lighter;
}